# Python cache files

**pycache**/
*.py[cod]

# Virtual environments

.venv/
venv/
env/

# Environment variables and secrets

.env
.env.*
!.env.example

# Jupyter Notebook temporary files

.ipynb_checkpoints/

# Large datasets

pha_dataset.csv
*.parquet
*.zip

# Log and temporary files

*.log
*.tmp
*.bak

# Operating system files

.DS_Store
Thumbs.db
desktop.ini
